@media only screen and (min-device-width: 1px) and (max-device-width: 425px) {
  .pagination{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    height: 10vh;
    font-size: 3em;
    min-width: 405px;
  }

  .number-list {
    list-style: none;
    display: flex;
  }

 .number-list-item {
    margin-right: 0.3em;
    user-select: none;
    cursor: pointer;
  }

}

@media only screen and (min-device-width: 426px) and (max-device-width: 4000px) {

  .pagination{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: inherit;
    font-size: 1.5em;
    font-weight: 100;
    min-width: 405px;
  }


  .pagination-list {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
  }

  .current{
    font-weight: 900;
    text-decoration: underline;
    cursor: default !important;
  }

 .pagination-list-item {
    margin-right: 1em;
    user-select: none;
    cursor: pointer;
  }

  .pagination-list-item:hover{
    text-decoration: underline;
  }


}









